@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 214.3 36% 14%; /* blue-chill 950 */

    --muted: 214.3 72% 86.7%; /* blue-chill 100 */
    --muted-foreground: 214.3 29.6% 34.5%; /* blue-chill 700 */

    --popover: 214.3 100% 96.5%; /* blue-chill 50 */
    --popover-foreground: 214.3 36% 14%; /* blue-chill 950 */

    --card: 214.3 100% 96.5%; /* blue-chill 50 */
    --card-foreground: 214.3 36% 14%; /* blue-chill 950 */

    --border: 214.3 56.4% 77.1%; /* blue-chill 200 */
    --input: 214.3 56.4% 77.1%; /* blue-chill 200 */

    --primary: 184.6 38.2% 45.5%; /* blue-chill 500 */
    --primary-foreground: 184.6 100% 96.5%; /* blue-chill 50 */

    --secondary: 184.6 72% 86.7%; /* blue-chill 100 */
    --secondary-foreground: 184.6 38.2% 45.5%; /* blue-chill 500 */

    --accent: 184.6 72% 86.7%; /* blue-chill 100 */
    --accent-foreground: 184.6 38.2% 45.5%; /* blue-chill 500 */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 184.6 100% 96.5%; /* blue-chill 50 */

    --ring: 184.6 38.2% 45.5%; /* blue-chill 500 */

    --radius: 0.5rem;
  }

  .dark {
    --background: 184.6 38.2% 14%; /* blue-chill 950 */
    --foreground: 184.6 100% 96.5%; /* blue-chill 50 */

    --muted: 184.6 24.5% 29.2%; /* blue-chill 800 */
    --muted-foreground: 184.6 49.3% 65.1%; /* blue-chill 300 */

    --popover: 184.6 38.2% 14%; /* blue-chill 950 */
    --popover-foreground: 184.6 100% 96.5%; /* blue-chill 50 */

    --card: 184.6 38.2% 14%; /* blue-chill 950 */
    --card-foreground: 184.6 100% 96.5%; /* blue-chill 50 */

    --border: 184.6 24.5% 29.2%; /* blue-chill 800 */
    --input: 184.6 24.5% 29.2%; /* blue-chill 800 */

    --primary: 184.6 100% 96.5%; /* blue-chill 50 */
    --primary-foreground: 184.6 38.2% 45.5%; /* blue-chill 500 */

    --secondary: 184.6 24.5% 29.2%; /* blue-chill 800 */
    --secondary-foreground: 184.6 100% 96.5%; /* blue-chill 50 */

    --accent: 184.6 24.5% 29.2%; /* blue-chill 800 */
    --accent-foreground: 184.6 100% 96.5%; /* blue-chill 50 */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 184.6 100% 96.5%; /* blue-chill 50 */

    --ring: 184.6 56.4% 77.1%; /* blue-chill 200 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  p,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
}
